@tailwind base;
@tailwind components;
@tailwind utilities;


.Tab-shadow {
  box-shadow: 2px 2px 15px 1px rgb(13, 13, 13), 1px 2px 25px 1px rgb(26, 27, 26),
    1px 5px 35px 1px rgb(10, 10, 10);
}

.scrollable-container {
  overflow-y: auto;
}


.scrollable-container::-webkit-scrollbar-track {
  border-radius: 10px;
}


.scrollable-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4a4e54, #343434);
  border-radius: 8px;
}

.scrollable-container::-webkit-scrollbar-horizontal {
  height: 6px; 
}

.scrollable-container::-webkit-scrollbar {
    width: 8px;
  }
  
.scrollableHorizontal-container::-webkit-scrollbar {
    height: 6px; 
    cursor: pointer;
  }
  
  .scrollableHorizontal-container::-webkit-scrollbar-track {
    background: #1f1e1e;
    border-radius: 10px;
  }
  
  .scrollableHorizontal-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4a4e54, #343434);
    border-radius: 8px;
  }
  
  .scrollableHorizontal-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #6a6e74, #5c5c5c);
  }
  

.neumorphic-button {
  background: #2c2c2c; 
  box-shadow: -1px -1px 10px rgba(128, 123, 123, 0.7),
     10px 5px 6px 10px rgba(0, 0, 0, 0.2),
    10px 8px 5px 1px rgba(0, 0, 0, 0.2); 
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.neumorphic-button:hover {
    box-shadow: -2px -2px 15px rgba(128, 123, 123, 0.7),
                12px 6px 8px 12px rgba(0, 0, 0, 0.3),
                12px 10px 6px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  .neumorphic-button:active {
    box-shadow: inset -1px -1px 10px rgba(128, 123, 123, 0.7),
                inset 10px 5px 6px 10px rgba(0, 0, 0, 0.2),
                inset 10px 8px 5px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(2px); /* Slight press down on click */
  }
  .neumorphic-button:hover {
    background-color: rgba(255, 255, 255, 0.05); /* Slight overlay on hover */
    transform: scale(1.05);
    box-shadow: -2px -2px 15px rgba(128, 123, 123, 0.7),
                12px 6px 8px 12px rgba(0, 0, 0, 0.3),
                12px 10px 6px 2px rgba(0, 0, 0, 0.2);
  }
  
  .neumorphic-button:active {
    background-color: rgba(255, 255, 255, 0.1); /* Slight overlay when pressed */
    transform: scale(0.95);
    box-shadow: inset -1px -1px 10px rgba(128, 123, 123, 0.7),
                inset 10px 5px 6px 10px rgba(0, 0, 0, 0.2),
                inset 10px 8px 5px 1px rgba(0, 0, 0, 0.2);
  }
.neumorphic-circleButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #1c1e20;
    color: #6f787c;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 10px rgba(84, 115, 123, 0.7),
     10px 5px 6px 10px rgba(0, 0, 0, 0.2),
    10px 8px 5px 1px rgba(0, 0, 0, 0.2);
}
.neumorphic-circleButton:active {
    background-color: #39555B;
    transform: scale(0.95);
    box-shadow: inset -1px -1px 10px rgba(84, 115, 123, 0.7),
                inset 10px 5px 6px 10px rgba(0, 0, 0, 0.2),
                inset 10px 8px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .neumorphic-button:hover {
    background-color: #45656C;
    transform: scale(1.05);
    box-shadow: -2px -2px 15px rgba(84, 115, 123, 0.7),
                12px 6px 8px 12px rgba(0, 0, 0, 0.3),
                12px 10px 6px 2px rgba(0, 0, 0, 0.2);
  }